/*
td::first-letter {

    font-weight: bold;
}

p:hover {
    color: blue;
}

#n2 {
    font-size: xxx-large;
}

.cp {
    text-align: justify;
    padding-right: 300px;
    padding-left: 300px;
}

.cp1 {
    text-align: justify;
    padding-right: 200px;
    padding-left: 180px;
}

.cp2 {
    padding-left: 305px;
}

.cdiv {
    text-align: center;
    padding-right: 70px;
    padding-left: 70px;
}

#n3 {
    padding-left: 20px;
}

.center {
    text-align: center;
}

.changeColor {
    color: gray;
}

.centerTable {
    width: 700px;
    font-size: large;
    margin-left: auto;
    margin-right: auto;

}

th, td {
!important;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

a {
    padding-left: 110px;
}

.sizelinks {
    width: 50px;
    height: 50px;
}

h1.next {

    text-align: center;
}



#pn {
    text-align: center;
    color: rgb(100, 100, 100);
}

#s {
    text-align: center;
    font-weight: bold;
    color: #AB2390;
}

.container-padding {
    padding-right: 300px;
    padding-left: 300px;
}

.txt-center {
    text-align: center;

}

.lowP{
    padding-bottom: 5px;
}

.container-grid {
    display: grid;
    border: 5px solid black;
    grid-template-columns: [lc1] 150px [lc2] 1fr [lc3] 150px [lc4];
    grid-template-rows: [lr1] 50px [rl2] 1fr [rl3] 200px[rl4];

}

.item1 {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 2;

    border: 2px solid white;
    background: blue;

    text-align: center;
    font-size: large;
    padding-top: 10px;

}

.item2 {
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 4;
    background: chartreuse;
    text-align: center;
    padding-top: 90px;
    font-size: x-large;
    border: 2px solid white;

}

.item3 {
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 2;
    background: blueviolet;
    border: 2px solid white;
    text-align: center;
    font-size: large;
    padding-top: 10px;
}

.item4 {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 3;
    grid-row-end: 4;
    background: crimson;
    text-align: center;
    font-size: large;
    padding-top: 25px;
    border: 2px solid white;
}

.item5 {
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 3;
    grid-row-end: 4;
    background: aqua;
    text-align: center;
    font-size: large;
    padding-top: 25px;
    border: 2px solid white;
} */

.main-container {

    display: grid;
    grid-template-columns:[lc0]25% [lc1] 1fr [lc2] 10%[lc3];
    grid-template-rows:[lr0] 45%[lr1] 1fr [lr2] 5% [lr3];
}

.item-head {

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;
    /*padding-left: 305px; */


    .a1 {
        padding-left: 280px;
    }
}

.item-main {
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;

    padding-left: 10px;
    padding-right: 150px;

    /*.txt-center {
        text-align: center;

    }*/

    .lowP {
        padding-bottom: 5px;
    }

    .container-grid {
        display: grid;
        border: 5px solid black;
        grid-template-columns: [lc1] 150px [lc2] 1fr [lc3] 150px [lc4];
        grid-template-rows: [lr1] 50px [rl2] 1fr [rl3] 200px[rl4];
    }

    .item1 {
        grid-column-start: 1;
        grid-column-end: 2;

        grid-row-start: 1;
        grid-row-end: 2;

        border: 2px solid white;
        background: blue;

        text-align: center;
        font-size: large;
        padding-top: 10px;

    }

    .item2 {
        grid-column-start: 2;
        grid-column-end: 3;

        grid-row-start: 1;
        grid-row-end: 4;
        background: chartreuse;
        text-align: center;
        padding-top: 90px;
        font-size: x-large;
        border: 2px solid white;

    }

    .item3 {
        grid-column-start: 3;
        grid-column-end: 4;

        grid-row-start: 1;
        grid-row-end: 2;
        background: blueviolet;
        border: 2px solid white;
        text-align: center;
        font-size: large;
        padding-top: 10px;
    }

    .item4 {
        grid-column-start: 1;
        grid-column-end: 2;

        grid-row-start: 3;
        grid-row-end: 4;
        background: crimson;
        text-align: center;
        font-size: large;
        padding-top: 25px;
        border: 2px solid white;
    }

    .item5 {
        grid-column-start: 3;
        grid-column-end: 4;

        grid-row-start: 3;
        grid-row-end: 4;
        background: aqua;
        text-align: center;
        font-size: large;
        padding-top: 25px;
        border: 2px solid white;
    }
}

.item-footer {

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-top: 15px;
    padding-left: 150px;
    color: red;
}